/AnimationGen.py
/animationtest.blend
/animationtest.blend1
/basic_zoetrope_generator.py
/collision_detector.py
/gear_test.py
/imported animation
/planetary_gear_generator.py
/Planetary_Gear_White_Paper.pdf
/sectiontest.blend
/sectiontest.blend1